@font-face {
  font-family: 'Rubik';
  src: url("../font/Rubik-Regular.ttf");
}

@font-face {
  font-family: 'Rubik-Light';
  src: url("../font/Rubik-Light.ttf");
}

body {
  background: #dfbff3;
  font-family: 'Rubik';
  display: flex;
  margin: 0%;
}

.full {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.side {
  width: 50%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

#left-side {
  background-image: linear-gradient(to bottom, #9237CA 0%, rgba(54.82071854174137, 10.641552228480577, 75.61091154813766, 0.8899999856948853) 100%);
}

#right-side {
  background-color: #dfbff3;
}

.logo {
  width: 150px;
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/logo.png');
}

img {
  width: 20px;
  height: 20px;
}

span {
  color: rgba(222.00000196695328, 235.0000011920929, 241.00000083446503, 1);
  text-align: center;
  font-size: 40;
  letter-spacing: 5;
}

a {
  color: white;
  text-decoration: none;
  font-size: 20;
  letter-spacing: 5;
}

a:hover,
a.active {
  background-color: transparent;
  color: white;
}

h1 {
  color: rgba(91.37911543250084, 99.37805861234665, 103.0698949098587, 1);
  align-items: center;
  font-family: 'Rubik-Light';
  font-size: 40;
  letter-spacing: 5;
}

label {
  color: rgba(91.37911543250084, 99.37805861234665, 103.0698949098587, 1);
  font-size: 25;
}

form {
  width: 80%;
  display: flex;
  margin: 2% 0%;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.item-form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.block-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.items-form {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input,
select {
  background: rgb(237, 240, 241);
  border: 3px solid rgba(91.37911543250084, 99.37805861234665, 103.0698949098587, 1);
  border-radius: 8px;
  margin: 5% 0% 5% 0%;
  letter-spacing: 1.5;
  font-family: 'Rubik';
  font-size: 20;
}

input[type=name],
input[type=password],
input[type=datetime-local] {
  width: 70%;
  height: 20px;
  padding: 20px;
}

select {
  width: 70%;
  height: 50px;
  text-align-last: center;
}

input[type=text] {
  width: 85%;
  height: 80px;
  padding: 20px;
}

input[type=submit] {
  background-color: rgba(146.3129273056984, 55.37627533078194, 202.04841256141663, 1);
  width: 200;
  height: 50;
  margin: 0%;
  opacity: 0.5;
  border-radius: 20px;
  border: transparent;
  color: white;
  letter-spacing: 5;
}

.fake-button {
  background-color: rgba(146.3129273056984, 55.37627533078194, 202.04841256141663, 1);
  width: 200;
  height: 50;
  opacity: 0.5;
  border-radius: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

table {
  background-color: #c49adf;
  width: 80%;
  min-height: 60%;
  height: auto;
  border-radius: 5px;
  display: flex;
  text-align: center;
  line-break: anywhere;
}

tr {
  background-color: #b27dd3;
  min-height: 30px;
  width: 100%;
  display: inline-flex;
}

tr:nth-child(even) {
  background-color: #c49adf;
}

th {
  background-color: rgba(54.82071854174137, 10.641552228480577, 75.61091154813766, 0.8899999856948853);
  width: 100%;
  padding: 10px;
  color: white;
  border: 1px solid #5B6367;
}

td {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #5B6367;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.big {
  width: 200%;
}

.small {
  width: 50%;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: auto;
}

.modal-content {
  background-color: #fefefe;
  width: 70%;
  padding: 3%;
  margin: auto;
  border: 1px solid #888;
  border-radius: 10px;
}

.close-modal {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.fake-button-modal {
  background-color: rgb(202, 55, 79);
  width: 100;
  height: 30;
  border-radius: 20px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fake-button-modal a {
  letter-spacing: 1;
}

.footer {
  width: 100%;
  margin: 2%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.footer-list {
  width: 80%;
  margin: 2%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}