<html lang="en">

<head>
  <meta charset="utf-8">
  <title> Workout Day </title>

  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="shortcut icon" href="../static/images/logo.png">
</head>

<body>
  <div class="full">
    <h1> Exercises </h1>

    <table class="table-exercises">
      <tbody>
        <tr>
          <th> Id </th>
          <th> Name </th>
          <th> Actions </th>
        </tr>

        {% for item in exercises %}
        <tr>
          <td> {{ item[0] }} </td>
          <td> {{ item[1] }} </td>
          <td>
            <a href='/update-exercise/{{ item[0] }}'>
              <img src="../static/images/logo-editar.png" alt="Update Logo">
            </a>
            <a href='/delete-confirmation-exercise/{{ item[0] }}'>
              <img src="../static/images/logo-deletar.png" alt="Delete Logo">
            </a>
          </td>
        </tr>
        {% endfor %}

        {% for n in range(13 - exercises | length) %}
        <tr>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if exercise_id != undefined %}
    <section class="modal">
      <div class="modal-content">
        <a href='/list-exercise' class="close-modal">&times;</a>
        <h2>Confirmation</h2>

        <p>Do you really want to delete this exercise?</p>

        <div class="fake-button-modal">
          <a href='/delete-exercise/{{ exercise_id }}'> Delete </a>
        </div>
      </div>
    </section>
    {% endif %}

    {% if error != undefined %}
    <section class="modal">
      <div class="modal-content">
        <a href='/list-exercise' class="close-modal">&times;</a>
        <h2>{{ error['title'] }}</h2>

        <p>{{ error['contents'] }}</p>
      </div>
    </section>
    {% endif %}

    <div class="footer-list">
      <div class="fake-button">
        <a href='/new-exercise'> New </a>
      </div>

      <div class="fake-button">
        <a href='/logout'> Logout </a>
      </div>
    </div>
  </div>
</body>

</html>