<html lang="en">

<head>
  <meta charset="utf-8">
  <title> Workout Day </title>

  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="shortcut icon" href="../static/images/logo.png">
</head>

<body>
  <div class="full">
    <form action="/create-new-workout" method="POST">
      <h1> Workout </h1>

      <div class="item-form">
        <div class="block-form">
          <div class="items-form">
            <label> Start </label>
            <input type="datetime-local" name="inputStart" required>
          </div>

          <div class="items-form">
            <label> Conclusion </label>
            <input type="datetime-local" name="inputConclusion" required>
          </div>

          <div class="items-form">
            <label> Exercise </label>
            <select name="inputExercise" required>
              <option value="default"> Choose one </option>
              {% for item in datas %}
              <option value="{{item[0]}}">{{item[0]}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="items-form">
            <label> Intensity </label>
            <select name="inputIntensity" required>
              <option value="default"> Choose one </option>
              <option value="low"> Low </option>
              <option value="medium"> Medium </option>
              <option value="high"> High </option>
            </select>
          </div>
        </div>

        <label> Description </label>
        <input type="text" name="inputDescription" required>
      </div>

      <div class="footer">
        <input type="submit" value="Create">

        <div class="fake-button">
          <a href='/list-workout'> Back </a>
        </div>
      </div>
    </form>
  </div>
</body>

</html>