<html lang="en">

<head>
  <meta charset="utf-8">
  <title> Workout Day </title>

  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="shortcut icon" href="../static/images/logo.png">
</head>

<body>
  <div class="full">
    {% for item in datas %}
    <form action="/make-update-workout/{{ item.workout_id }}" method="POST">
      <h1> Workout </h1>

      <div class="item-form">
        <div class="block-form">
          <div class="items-form">
            <label> Start </label>
            <input type="datetime-local" name="inputStart" value="{{ item.workout_start }}" required>
          </div>

          <div class="items-form">
            <label> Conclusion </label>
            <input type="datetime-local" name="inputConclusion" value="{{ item.workout_conclusion }}" required>
          </div>

          <div class="items-form">
            <label> Exercise </label>
            <select name="inputExercise" required>
              <option value="{{ item.exercise_id }}"> {{ item.exercise_name }} </option>
              {% for exercise in exercises %}
              <option value="{{exercise[0]}}">{{exercise[1]}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="items-form">
            <label> Intensity </label>
            <select name="inputIntensity" required>
              <option value="{{ item.intensity }}"> {{ item.intensity }} </option>
              <option value="Low"> Low </option>
              <option value="Medium"> Medium </option>
              <option value="High"> High </option>
            </select>
          </div>
        </div>

        <label> Description </label>
        <input type="text" name="inputDescription" value="{{ item.description }}" required>
      </div>
      {% endfor %}

      <div class="footer">
        <input type="submit" value="Update">

        <div class="fake-button">
          <a href='/list-workout'> Back </a>
        </div>
      </div>
    </form>
  </div>
</body>

</html>